:root{
    --bd-banner: #1b72e8;
    --bd-badge-bg: #165bba;
    --bd-bell: #ff8f00;
    --bd-sidebarbg: #051e34;
}

#app_header{
    height: 54px;
}

#app_header .search{
    background-color: #e5e5e5;

}
#app_main{
    height: calc(100vh - 54px);
    display: flex;
}

.sidebar{
    overflow-y: hidden;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bd-sidebarbg);
    background-size: 100%;
}

.sidebar_top{
    width: 100%;
    height: calc(100% - 60px);
}

.sidebar_bottom{
    width: 100%;
    height: 60px;
}

.content{
    width: calc(100% - 70px);
    overflow-y: auto;
}

.banner{
    background-color: var(--bd-banner);
}

.badge{
    background-color: var(--bd-badge-bg);
}

.banner .outside_button{
    width: 30px;
    height: 30px;
}

.fa-bell{
    color: var(--bd-bell);
}

/* effects */ 

.sidebar button:hover{
    filter: brightness(1);
    background-color: #596976 ;
}


@media screen and (min-width:992px) {

    .offcanvas{
        width: 50%;
}
}