:root{
    --bd-banner: #1b72e8;
    --bd-badge-bg: #165bba;
    --bd-bell: #ff8f00;
}

#app_header{
    height: 50px;
    border: 1px dashed black;
}

#app_main{
    height: calc(100vh - 50px);
    display: flex;
}

.sidebar{
    overflow-y: hidden;
    background-image: url(/assets/img/sidebar-bg.png);
    background-size: 100%;
}

.sidebar_top{
    width: 100%;
    height: calc(100% - 60px);
    border: 1px dashed black;
}

.sidebar_bottom{
    width: 100%;
    height: 60px;
    border: 1px dashed black;
}

.content{
    width: calc(100% - 70px);
    overflow-y: auto;
}

.banner{
    background-color: var(--bd-banner);
}

.badge{
    background-color: var(--bd-badge-bg);
}

.banner .outside_button{
    width: 30px;
    height: 30px;
}

.fa-bell{
    color: var(--bd-bell);
}





